
/JavaApplication2/nbproject/private/
/HospitalMangement/build/
/HospitalMangement/dist/
/JavaApplication1/nbproject/private/
HospitalManagement2/nbproject/
/HospitalManagement/build/
/Hospitalmanagement2/dist/
